TO IDENTIFY MISSING VALUE, WE USE THE .ISNULL() TO HELP CHECK FOR THE MISSING DATA

In [1]:
import numpy as np
import pandas as pd

In [3]:
data = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [24, np.nan, 35, 45, np.nan],
    'Salary': [50000, 54000, np.nan, 61000, 66000]
})

In [5]:
print(data)

      Name   Age   Salary
0    Alice  24.0  50000.0
1      Bob   NaN  54000.0
2  Charlie  35.0      NaN
3    David  45.0  61000.0
4      Eve   NaN  66000.0

In [11]:
data1 = data.isnull().sum()
print(data1)

Name      0
Age       2
Salary    1
dtype: int64

In [13]:
#dropping missing value

In [23]:
datadrop = data.dropna()
print(datadrop)

    Name   Age   Salary
0  Alice  24.0  50000.0
3  David  45.0  61000.0

In [27]:
datadropcolumn = data.dropna(axis=1)
print(datadropcolumn)

      Name
0    Alice
1      Bob
2  Charlie
3    David
4      Eve

In [29]:
datafillzero = data.fillna(0)
print(datafillzero)

      Name   Age   Salary
0    Alice  24.0  50000.0
1      Bob   0.0  54000.0
2  Charlie  35.0      0.0
3    David  45.0  61000.0
4      Eve   0.0  66000.0